* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-container {
    margin-bottom: 15px;
}

.infos-container {
    text-align: center;
}

.infos {
    margin-bottom: 5px;
}